<div class="container">
    <div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Eat-Da-Burger</h1>
  <p class="lead">A restaurant app that lets users input the names of burgers they'd like to eat.</p>
  <p>Whenever a user submits a burger's name, your app will display the burger on the left side of the page -- waiting to be devoured.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    
    </div>
        
</div>